# Ignore node_modules folders in all subfolders
**/node_modules

# Ignore build or dist folders
**/build
**/dist

# Ignore env files
**/.env
**/.env.*.local

# Ignore test output
**/coverage

# System and editor files
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
